node_modules/
build/
dist/
.parcel-cache/
.firebase/
.cache/
.DS_Store

# Capacitor
ios/App/build/
android/app/build/

# Environment / Firebase secrets
.env
google-services.json
GoogleService-Info.plist
