@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input, textarea, select {
  user-select: text !important;
  -webkit-user-select: text !important;
}

button {
  user-select: none;
  -webkit-user-select: none;
}
